body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: url('assets/bg/fondo3.jpg') no-repeat center center fixed;
    background-size: cover;
    
}

.nav{
    display: block;
    grid-row: auto;
   
}
.bannerContainer{
    margin: 0 auto;
    text-align: center;
}

#logo{
    width: 300px;
   
}

.buscador{
    border-radius: 20px;
    border: 1px solid grey;
    padding: 10px;
    width: 250px;
}

.filtrosContainer{
    text-align: center;
    margin: 0 auto;
    /* display: block; */
}

.botonesContainer{
    margin-top: 20px;
    display: block;
    grid-row: auto;
    text-align: center;
}

.botones{
    border-radius: 12px;
    padding: 10px;
    font-size: 1.05em;
    background-color: rgba(247, 205, 20, 0.938);
    color: rgb(24, 24, 24);
    font-weight: bold;
    border: none;
    transition: 0.2s ease;
}
.botones:hover{
    scale: 1.04;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.grid-personajes{
    display: grid;
    grid-template-columns: repeat(auto-fill , minmax(250px,1fr));
    gap: 25px;
    padding: 20px;
}

.card-personaje{
    background: rgba(255, 255, 255, 0.637);
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    position: relative;
}

.card-image{
    position: relative;
    width: 100%;
    height: 300px;
    /* object-fit: contain; */
   padding: 10px;
}

.img-normal, .img-transform{
    position: absolute;
    top: 10px;
    left: 10px;
    width: calc(100% - 20px);
    height: calc(100% - 20px);
    object-fit: contain;
    transition: opacity 0.3s ease;
}

.img-transform{
    opacity: 0;
}

.card-personaje h2 {
    padding: 15px;
    margin: 0;
    text-align: center;
    color: #333;
    font-size: 1.2em;
    background-color: rgba(255, 255, 255, 0.733);
}

.card-personaje.con-transform:hover .img-normal {
    opacity: 0;
}

.card-personaje:hover{
    transform: scale(1.05);
    box-shadow: 8px 4px 29px 8px rgba(0, 132, 255, 0.671);
}

.card-personaje:hover .img-transform {
    opacity: 1;
  
}

.ki-container{
    position: absolute;
    bottom: 85px;
    right: 25px;
    background-color: rgba(0, 0, 0,0.8);
    padding: 8px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: 0.3s ease;

    border-radius: 8px ;

}

.ki-label{
    color: #fff;
    font-size: 0.7em;
    letter-spacing: 1px;
    margin-bottom: 2px;
   
}

.ki-value{
    color: #ffd700;
    font-weight: bold;
    font-size: 0.9em;
}

.card-personaje:hover .ki-container{
    transform: scale(1.05);
} 

 .modal-bienvenida {
     position: fixed;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
     display: flex;
     justify-content: center;
     align-items: center;
     z-index: 1000;
 }

 .modal-overlay {
     position: absolute;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
     background: rgba(0, 0, 0, 0.5);
     
 }

 .modal-content {
     position: relative;
     background: white;
     padding: 30px;
     border-radius: 8px;
     z-index: 1001;
    text-align: center;
 }

 .floating-container{
    position: fixed;
    bottom: 40px;
    right: 40px;
    /* para q este por encima de objetos */
    z-index: 1000;
 }

 .bg-button{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background: none;
    border: none;
    cursor: pointer;
    transition: transform 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    transition: 0.2s ease;
 }

 .bg-button img{
    width: 100%;
    height: 100%;
    object-fit: contain;
 }

 .bg-menu{
    position: absolute;
    bottom: 85px;
    right: 0px;
    background: white;
    border-radius: 15px;
    padding: 20px;
    display: none;
    grid-gap:15px;
    opacity: 0;
    transform: translateY(20px);
 }

 .bg-menu.active{
    display: grid;
    transform: translateY(0);
    opacity: 1;
 }

.bg-option{
    width: 180px;
    height: 100px;
    border-radius: 12px;
    overflow: hidden;
    cursor: pointer;
    transition: 0.2s ease;
    border: 3px solid transparent;
}

.bg-option img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.bg-option:hover{
    scale: 1.03;
    box-shadow: 8px 4px 29px 8px rgba(0, 132, 255, 0.671);
}
.bg-button:hover{
    scale: 1.03;
    box-shadow: 8px 4px 29px 8px rgba(247, 133, 2, 0.808);
}