body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: url('assets/a.jpg') no-repeat center center fixed;
    background-size: cover;
    
}

.nav{
    display: block;
    grid-row: auto;
   
}
.bannerContainer{
    margin: 0 auto;
    text-align: center;
}

#logo{
    width: 300px;
   
}

.buscador{
    border-radius: 20px;
    border: 1px solid grey;
    padding: 10px;
    width: 250px;
}

.filtrosContainer{
    text-align: center;
    margin: 0 auto;
    /* display: block; */
}
.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.grid-personajes{
    display: grid;
    grid-template-columns: repeat(auto-fill , minmax(250px,1fr));
    gap: 25px;
    padding: 20px;
}

.card-personaje{
    background: rgba(255, 255, 255, 0.637);
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    position: relative;
}

.card-image{
    position: relative;
    width: 100%;
    height: 300px;
    /* object-fit: contain; */
   padding: 10px;
}

.img-normal, .img-transform{
    position: absolute;
    top: 10px;
    left: 10px;
    width: calc(100% - 20px);
    height: calc(100% - 20px);
    object-fit: contain;
    transition: opacity 0.3s ease;
}

.img-transform{
    opacity: 0;
}

.card-personaje h2 {
    padding: 15px;
    margin: 0;
    text-align: center;
    color: #333;
    font-size: 1.2em;
    background-color: rgba(255, 255, 255, 0.733);
}

.card-personaje.con-transform:hover .img-normal {
    opacity: 0;
}

.card-personaje:hover .img-transform {
    opacity: 1;
}

.ki-container{
    position: absolute;
    bottom: 85px;
    right: 25px;
    background-color: rgba(0, 0, 0,0.8);
    padding: 8px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: 0.3s ease;

    border-radius: 8px ;

}

.ki-label{
    color: #fff;
    font-size: 0.7em;
    letter-spacing: 1px;
    margin-bottom: 2px;
   
}

.ki-value{
    color: #ffd700;
    font-weight: bold;
    font-size: 0.9em;
}

.card-personaje:hover .ki-container{
    transform: scale(1.05);
} 