/* Guardamos variables con los colores */
:root{
    --fondoCalc: #089ca7d3;
    --fondoPag:  #414141;
}

*{
    font-family: Orbitron;
    color: #000000;
    font-weight: 600;
    font-size: 2.5vh;
    /* background-color: var(--fondoPag); */
}

nav{
    background-color: transparent;
    padding: 5px;
} 

#elementos-nav{
    display:flex;
    flex-direction: column;
    background-color: transparent;
    padding: 5px;
    align-items: center;
   
}

#logo-nombre{
    display:grid;
    grid-template-columns: 1fr 1fr;
    margin-right: 80%;
    margin-left:auto;
    align-items: center;
    color: gainsboro;
}

#sv{
    margin-left: 4%;
}

.display{
    background-color: var(--fondoCalc);
}
.principalContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.calculadora{
    display: flex;
    flex-direction: column;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 10px;
    width: 320px;
    background-color: var(--fondoCalc);

}

.calculator-screen{
    margin-top: 2vh;
    width: 100%;
    height: 70px;
    background-color: rgb(191, 184, 184);
    text-align: right;
}

.botones{
    display: grid;
    /* repeat para poner 4 veces, fr es fraccion del espacio de la columna */
    grid-template-columns: repeat(4,1fr); 
    gap: 10px;
    margin-top: 3vh;
    background-color: var(--fondoCalc);
}

button{
    height: 60px;
    width: 60px;
    margin: 5px;
    font-size: 20px;
    border-radius: 5px;
    border: none;
    background-color: #b3b3b3;
    cursor: pointer;
    
}
/* Pulsaciones */
button:active{
    transform: translateY(2px);
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
}

.operador{
    background-color: #fac42e;

}

#punto{
    background-color: #ffff;
}
.igual{
    background-color: #ffffff;
    grid-column: span 2;
    width: 93%;
}


.limpiar{
    background-color: rgb(181, 27, 27);
}

/* wsrgsr */
